<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-margin">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-md-center"
      id="#navbarSupportedContent"
    >
      <ul class="navbar-nav fw-bolder">
        <li class="nav-item">
          <a class="nav-link" routerLink="/carousel">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/characters">CHARACTERS</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >CHARACTERS</a
          >
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">COMICS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MOVIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TV SHOWS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
