<img [src]="tvShowDetails.background" class="img-background" />

<div class="container-cards">
  <div style="text-align: center">
    <div class="bold">OVERVIEW</div>
    <br />
    <div>{{ tvShowDetails.description }}</div>
    <br />
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Network:</b> {{ tvShowDetails.network }}
      </li>
      <li class="list-group-item">
        <b>Director:</b> {{ tvShowDetails.director }}
      </li>
      <li class="list-group-item">
        <b>Head Writer:</b> {{ tvShowDetails.head_writer }}
      </li>
      <li class="list-group-item"><b>Cast:</b> {{ tvShowDetails.cast }}</li>
      <li class="list-group-item">
        <b>Release date:</b> {{ tvShowDetails.release_date }}
      </li>
    </ul>
  </div>
</div>

<div class="container-cards">
  <div style="text-align: center">
    <div class="bold">OFFICIAL TRAILER</div>
    <br />
    <iframe
      width="560"
      height="315"
      [src]="trailer"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
