img {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
  object-position: center top;
}

.container-text-img {
  position: relative;
  text-align: center;
}

.text {
  color: white;
}

.p-small {
  color: white;
  font-size: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  text-align: left;
  padding: 10px;
  width: 400px;
  text-align: justify;
  left: 27%;
  transform: translate(-50%, -50%);
}

.title-paragraph {
  color: black;
  /* font-weight: bold; */
  font-size: 20px;
}
